<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Welcome Page</title>
        <link rel="stylesheet" href="/static/realPortfolio_app/style.css">
    </head>
    <body>
        <div id="wrapper">
            <h1>About Me!</h1>
            <p>I am a Python web developer and love going to hackathons in my spare time. I love making things and meeting new people! People might be surprised to learn that I own a horse and used to be a horse trainer! Just joking about the horse info.</p>
        </div> <!-- wrapper -->
    </body>
</html>
