<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Welcome Page</title>
        <link rel="stylesheet" href="/static/realPortfolio_app/style.css">
    </head>
    <body>
        <div id="wrapper">
            <h1>Hi, I'm Erick</h1>
            <h2>Welcome to My Portfolio</h2>
            <div id="lower">
                <div class="box">
                    <a href="/projects">Projects</a>
                    <p>I have a variety of projects both personal and contract. They are built using Python, Swift, and JavaScript</p>
                </div> <!-- box -->
                <div class="box">
                    <a href="/about">About Me</a>
                    <p>A little about my background and why I do what I do</p>
                </div> <!-- box -->
                <div class="box">
                    <a href="/testimonials">Testimonials</a>
                    <p>What my clients and mentors have to say about my project and work ethic</p>
                </div> <!-- box -->
            </div> <!-- lower -->
        </div> <!-- wrapper -->
    </body>
</html>
